# Ignore node_modules in backend
node_modules

# Ignore backend logs
*.log
logs

# Ignore backend build folder (if you build files e.g. TypeScript)
dist/

# Optional: Ignore environment config files
.env
.env.*
